@model TrainApp.Models.ExerciseModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExerciseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Muscle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Muscle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Done)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Done)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Add)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Add)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ExerciseId }, new {@class="btn btn-warning" }) 
    <a asp-action="Index" class="btn btn-warning">Back to exercises list</a>
</div>
